@model HomeModel
@{
    ViewData["Title"] = "Home Page";
    //Layout = "~/Views/Shared/_Layout_signin.cshtml";
}
<script type="text/javascript" src="./js/Index.js"></script>


<!-- Navbar -->
<div class="login-page">
    <!-- End Navbar -->
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image:url(/images/login_back.jpg)"></div>
        <div class="content">
            <div class="container">
                <div class="col-md-4 ml-auto mr-auto">


                    <form id="forprezenter" class="form" asp-controller="Home" asp-action="Welcome" hidden>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "inputUserName2", @placeholder = "name" })
                        @Html.TextBoxFor(model => model.GroupId, new { @class = "form-control", @id = "inputGroupId2", @placeholder = "groupID" })
                    </form>



                    <form id="foruser" class="form" asp-controller="Home" asp-action="Contact">
                        <div class="card card-login card-plain">
                            <div class="card-header text-center">
                                <div class="logo-container">
                                    <button type="submit" form="forprezenter" style="background:unset; border:none">
                                        <img src="~/images/N.png" alt="">
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @id = "inputUserName", @placeholder = "name" })
                                </div>
                                <div class="input-group no-border input-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons text_caps-small"></i>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(model => model.GroupId, new { @class = "form-control", @id = "inputGroupId", @placeholder = "groupID" })
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button class="btn btn-primary btn-round btn-lg btn-block" type="submit" form="foruser">Join Chat Room!</button>
                            </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
