@model HomeModel

<form method="post" asp-action="PresentationRoom" asp-controller="Home">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/images/meeting_back.jpg');">
            </div>
            <div class="content-center">
                <div class="container">
                    <h1 class="title">waiting room</h1>
                    <div class="text-center">
                            <a href="https://www.slideshare.net/" class="btn btn-primary btn-icon btn-round"  target="_blank"  rel="SlidShare">
                                <i class="fab">
                                    <img src="~/images/slideshare-icon.svg" />
                                </i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-team text-center">
            <div class="container">
                <div class="team">
                    <div class="row">
                        <label for="comment">
                            your group ID is
                            <strong>@Model.GroupId</strong>
                        </label>
                    </div>

                    <div class="row">
                        <label for="comment">embeded iflame:</label>
                        @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @id = "comment", @row = 5, @placeholder = "ここにSlideshareのEmbedリンクを貼り付けて下さい" })
                        <button class="btn btn-primary btn-round" type="submit">
                            Start Presentation
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hidden>
        @Html.TextBoxFor(model => model.GroupId, new { @id = "groupId" })
        @Html.TextBoxFor(model => model.UserName, new { @id = "userName" })
    </div>
</form>