@model HomeModel
<!-- End Navbar -->
<form>
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/images/welcom_back.jpg');">
            </div>
            <div class="content-center">
                <div class="container">
                    <h1 class="title">Welcome</h1>
                    <div class="text-center">
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                            <i class="fab fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-team text-center">
            <div class="container">
                <div class="team">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="team-player">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" asp-action="Contact">Goto Event Room</button>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="team-player">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" asp-action="PresenterPrepare">Goto waitng Room</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div hidden>
        @Html.TextBoxFor(model => model.UserName)
        @Html.TextBoxFor(model => model.GroupId)
    </div>
</form>