@{
}

    <form id="test" asp-controller="Analysis" asp-action="ResultData"  method ="post">
        <div>
            <div>
                GroupID
                <input />
            </div>
            <div>
                UserID
                <input />
            </div>
            <div>
                発表日
                <input />
            </div>
        </div>
        <input type="submit" value="BUTTON" form="test"/>
    </form>