@model AnalysisModel
<style>
    .result-container {
        height: 340Px;
        margin-bottom: 20px;
    }
</style>


<form id="show_result" asp-controller="Analysis" asp-action="ResultData" method="post">

    <div class="wrapper">
        @*ページヘッダー*@
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/images/analysis_result.jpg')">
            </div>
            <div class="content-center">
                <div class="container">
                    <h1 class="title">Analysis Result</h1>
                </div>
            </div>
        </div>

        @*結果コンテンツ*@
        <div class="result-container">
            <div class=" w-50 float-left h-100">
                <div class="text-center">
                    <img class="  media-middle" src="~/images/summary.jpg" />
                </div>
            </div>
            <div class="w-50 float-right h-100 ">
                <div class="card text-center">
                    <div class="card-body text-left pre-scrollable">
                        <h4 class="card-title">基本情報</h4>

                        <p class="card-text">@Model.Info.EventDate</p>
                        <p class="card-text">@Model.Info.GroupId</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                        <p class="card-text">その他情報（発表時間、参加者人数、コメント数、）</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="result-container">

            <div class=" w-50 float-left h-100">
                <div class="card text-center">
                    <div class="card-body  text-left pre-scrollable">
                        <h4 class="card-title">発表のキーワード</h4>
                        <ul>
                            @foreach (var docs in Model.KeyPhraseExtractResult.Documents)
                            {
                                foreach (var keyphrases in docs.KeyPhrases)
                                {
                                    <li class="card-text">@keyphrases</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="w-50 float-right h-100 ">
                <div class="text-center media-middle">
                    <img class="text-center" src="~/images/keyword_header.jpg" />
                </div>
            </div>

        </div>

        <div class="result-container">
            <div class=" w-50 float-left h-100  ">
                <div class="text-center media-middle">
                    <img class="card-img-top text-center" src="~/images/speach_text.jpg">
                </div>
            </div>
            <div class="card w-50 float-right h-100">
                <div class="card-body text-left pre-scrollable">
                    <h4 class="card-title">発表内容(Speach to Text)</h4>
                    @foreach (var doc in Model.Presenter.SpeachText)
                    {
                        <p class="card-text">@doc</p>
                    }
                </div>
            </div>
        </div>

        <div class="result-container">
            <div class="card ">
                <div class="card-body text-left  pre-scrollable" >
                    <h4 class="card-title">参加者からのコメント(Speach to Text)</h4>
                    @foreach (var doc in Model.Presenter.SpeachText)
                    {
                        <p class="card-text">

                            時間：コメント みたいにする
                        </p>
                    }

                </div>
            </div>

        </div>
    </div>
</form>



